{% macro text() %}
    <div class="card z-depth-3">
        <div class="card-content"><span class="card-title">Text Options</span></div>

        <div class="card-content">
            <div class="input-field">
                <select id="normalizer">
                    <option value="none" selected>None</option>
                    <option value="l1">L1</option>
                    <option value="l2">L2</option>
                </select>
                <label>Normalization (in embeddings if applicable)</label>
            </div>

            <form action="#">
                <p class="range-field">
                    <label for="features">Num of features (in embeddings)</label>
                    <input type="range" id="numfeatures" min="500" max="10000" value="4000"/>
                </p>
            </form>

            <form action="#">
                <p>
                  <input type="checkbox" id="stem"/>
                  <label for="stem">Stemming</label>
                </p>
                <p>
                  <input type="checkbox" id="stop"/>
                  <label for="stop">Stopwords Removal</label>
                </p>
            </form>
        </div>
    </div>
{% endmacro %}

{% macro classifiers() %}
    <div class="card z-depth-3">
        <div class="card-content"><span class="card-title">Classifier Options</span></div>
        <div class="card-content">TODO
        </div>
    </div>
{% endmacro %}

{% macro dimension_reduction() %}
    <div class="card z-depth-3">
        <div class="card-content"><span class="card-title">Dimension Reduction</span></div>

        <div class="card-content">
            <div class="input-field">
                <select id="decomposition">
                    <option value="none" selected>None</option>
                    <option value="tsne">t-SNE</option>
                    <option value="mds">MDS</option>
                </select>
                <label>Decomposition</label>
            </div>

            <div class="input-field">
                <select id="decomposition-metric">
                    <option value="euclidean" selected>Euclidean</option>
                    <option value="cosine">Cosine</option>
                    <option value="cityblock">Cityblock</option>
                </select>
                <label>Decomposition distance metric</label>
            </div>

            <form action="#">
                <p class="range-field">
                    <label for="features">Num of dimensions after decomposition</label>
                    <input type="range" id="numdimensions" min="2" max="500" value="40"/>
                </p>
            </form>
        </div>
    </div>
{% endmacro %}