<!DOCTYPE html>
<html>
<head>
    <title>Classy</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/classy.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.8.0/js/tmpl.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.0.3/stupidtable.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="../static/js/parallel.js"></script>
    <script type="text/javascript" src="../static/js/misc.js"></script>
    <script type="text/javascript" src="../static/js/classy.js"></script>
    {% raw %}
    <script type="text/x-tmpl" id="tmpl-demo">
        <table class="responsive-table centered">
            <thead><tr>{% for (var k in o) { %}<th>{%=k%}</th>{% } %}</tr></thead>
            <tbody><tr>{% for (var k in o) { %}<td>{%=o[k]%}</td>{% } %}</tr></tbody>
        </table>
    </script>
    {% endraw %}
</head>


<body class="grey lighten-4">
    <!-- NAVBAR -->
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">
                <i><img src="../static/img/monocle.png" class="logo"/></i><span class="logo-text">Classy</span>
            </a>
            <ul class="right">
                <li><a class="waves-effect waves-light" href="#edit-options"><i class="material-icons">settings_input_composite</i></a></li>
            </ul>
        </div>
    </nav>
    </div>


    <div class="row">
        <!-- OPTIONS -->
        <div class="col s3">
            <div class="card z-depth-3">
                <div class="card-content">
                    <span class="card-title">Options</span>
                    <p>Select the files (text and labels), text options and classification algorithms.</p>
                </div>

                {% from 'options/input.html' import input, quick, run_button %}
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#input" class="active">Input</a></li>
                        <li class="tab disabled grey lighten-4"><a href="#quick-options">Quick Options</a></li>
                    </ul>
                </div>

                <div class="card-content grey lighten-4">
                    <div id="input">{{ input() }}</div>
                    <div id="quick-options">{{ quick() }}</div>
                </div>

                <div class="card-action hide">{{ run_button() }}</div>
            </div>
        </div>

        <!-- RESULTS -->
        <div class="col s9">
            {% from 'plots/card.html' import plot_area %}
            <!-- PLOTS -->
            {{ plot_area("parallel-container", "Classification Results", "parallel") }}
            {{ plot_area("confusion-matrix-container", "Confusion Matrix", "confusion-matrix") }}
            {{ plot_area("precision-recall-container", "Precision-Recall", "prec-rec") }}
            {{ plot_area("roc-curves-container", "ROC Curves", "roc-curves") }}

            <div class="row">
                <div class="col s12" id="width-id">
                    <div class="card z-depth-3 hide" id="venn-container">
                        <div class="card-content">
                            <span class="card-title">Important Words by Class</span><br>
                            <div class="row" id="venn">
                                <div class="col s1"></div>
                                <div class="col s10">
                                    <img id="venn-diagram" style="width: 700px;" src="../static/img/venn/venn_words.png">
                                </div>
                                <div class="col s1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- LOADING SCREEN MODAL -->
    <a class="modal-trigger hide" href="#loading-screen"></a>
    <div id="loading-screen" class="modal">
        <div class="modal-content">
            <br>
            <div class="progress"><div class="indeterminate"></div></div>
            <br>
            <div class="progress"><div class="indeterminate"></div></div>
            <br>
        </div>
    </div>

    <!-- OPTIONS MODAL -->
    <div id="edit-options" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                {% from 'options/general.html' import text, classifiers, dimension_reduction %}
                <div class="col s4">{{ text() }}</div>
                <div class="col s4">{{ dimension_reduction() }}</div>
                <div class="col s4">{{ classifiers() }}</div>
            </div>
        </div>
    </div>

</body>
</html>